*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(250, 250, 250);
}

.header {
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ccffff;
    flex-direction: row;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 10.5rem;
    top: 0;
    padding-left: 10rem;
} 

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ad5cff;
    font-weight: 800;
    letter-spacing: 1px;
} 


.nav__logo img{
    width: 75%;
}


.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 5rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 5px;
    border-radius: 3px;
}


.nav-menu-link i{
    font-size: 3rem;
    position: absolute;
    top: 3.8rem;
}

.nav-menu-link_active {
    color: #ad5cff;
    border-radius: 9%;
    transition: 0.5s;
}

  /* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 37px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    z-index: 4000;
}

.carrito{
    font-size: 3.5rem;
    margin-top: 0.7rem;
    margin-left: 1.5rem;
    position: relative;
}

.carrito i{
    color: #ad5cff;
}

.contador{
    width: 2.8rem;
    border-radius: 100%;
    height: 2.8rem;
    background-color:  #cf9fff;
    position: absolute;
    top: 15%;
    right: -90%;
}

.contador p{
    font-weight: 500;
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0.3rem;
}


.cuenta{
    border: 2px solid #b871ff;
}


.nav-menu-link_active:hover{
    color:#ff71e7;
    transition: all 0.2s ease-in-out;
}

.nav2 li a:hover{
    color:#ff71e7;
    transition: all 0.2s ease-in-out;
}

.nav li a:hover{
    color:#ff71e7;
    transition: all 0.2s ease-in-out;
}
span{
    font-size: 1.6rem;
    color: #ad5cff;
    font-weight: 800;
}

.cuenta:hover{
    color: #ff71e7;
    background-color:#ff71e72c ;
    border: 2px groove #f889e67e;
    transition:all 0.5s ease-in-out;
}


.busq{
    position: relative;
}

.barraBusqueda{
    background-color:#b871ff48;
    width: 24rem;
    height: 3.5rem;
    border: none;
    font-size: 2rem;
    color: rgb(35, 0, 70);
    font-weight: 700;
    padding: 2rem;
    z-index: 1000;
    border-radius: 5%;
    margin-left: -5rem;
}

.barraBusqueda[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #6c06d13f;
    color: #ad5cff;
}

.busq i{
    position: absolute;
    font-size: 3rem;
    right: 8%;
    top: 15%;
    opacity: 0.5;
    color:rgb(35, 0, 70);
    cursor: pointer;
    z-index: 10000;
}

.busq i:hover{
    font-size: 2.8rem;
    color:rgb(234, 1, 255);
}

.barraBusqueda::placeholder{
    color:rgba(35, 0, 70, 0.24);
    font-size: 2rem;
}

.cuenta{
    color: #ad5cff;
    border-radius: 15%;
    margin-left: 2rem;
}




/*  NAV 2  */
.nav2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #ccffff;
    width: 75%;
    margin: 0rem auto;
    box-shadow: 0.1rem 0.1rem 0.7rem #87eeee ;
    border-radius: 4%;
    margin-top: 12rem;
    text-align: center;
}


.nav2 ul{
    list-style: none;
}

.nav2 span{
    padding: 0 3rem;
}

.nav2 li{
    display: inline-block;
    padding: 1.5rem 0;
}

.nav2 a{
    text-decoration: none;
    font-size: 1.7rem;
    color: #ad5cff;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;;
}



main{
    top: 4rem;
    position: relative;
    overflow: hidden;
    background-color: rgb(250, 250, 250);

}


.container{
    position: relative;
    width: 100vw;
    height: 100%;
    padding-bottom: 40rem;
    margin-left: 5rem;
}


#prod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 88%;
    gap: 5rem;
    margin-left: 13%;
    padding: 0 5rem;
    margin-top: -38rem;
}
#prod a{
    text-decoration: none;
}

.prod__marco{
    width: 30rem;
    height: 48rem;
    border-radius: 5px;
    position: relative;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.prod__img img{
    width: 100%;
}

.prod__title{
    padding:0 1rem;
    padding-top: 2rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #6101afbe;
    margin-top: -1rem;
}


.prod__precio{
    width: 100%;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-align: center;
    color: #6101afbe;
    margin-top: 1.5rem;
}


.prod__agregar {
    width: 60%;
    height: 4.5rem;
    position: absolute;
    top: 83%;
    left: 20%;
    background-color: #e4ffff;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65,  111, .5) 0 -3px 0 inset;
    color: #9734f3;
    font-weight: 700;
    cursor: pointer;
    line-height: 1;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 18px;
    right: 1%;
    margin-top: 2rem;
}

.prod__agregar:focus {
    box-shadow: #dee1ff 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #aeb7ff 0 -3px 0 inset;
}

.prod__agregar:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a2adff 0 -3px 0 inset;
    transform: translateY(-2px);
}

.prod__agregar:active {
    transform: translateY(2px);
}
.prod__agregar p{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.carrito i:hover{
    color:#ff71e7;
    transition: all 0.2s ease-in-out;
}

.carrito i:active{
    font-size: 3rem;
}


.prod__agregar:hover > p{
    font-size: 1.62rem;
    color:rgb(234, 1, 255);
    transition: all 1s ease-in-out;
}


.prod__marco:hover{
    width: 29.8rem;
    height: 47.8rem;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 10px 20px, rgba(0, 0, 0, 0.356) 0px 6px 6px;
}
/* corazon */
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

.stage {
    position: absolute;
    bottom: -2%;
    right: -6%;
}


/* Forms */
.exitFiltro{
    display: none;
}

.select__button{
    display: none;
}

.selec__mobile{
    display:none;
}

.selec{
    display: flex;
    flex-direction: column;
    width: 30rem;
    position: relative;
    line-height: 4rem;
    z-index: 1000;
    gap: 2rem;
    padding-top: 5rem;
    margin-left: 2rem;
}

.formPG{
    background-color: rgb(241, 255, 255) ;
    font-size: 2rem;
    display: inline-block;
    width: 25rem;
    margin-left: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    border: 2px solid rgba(255, 83, 169, 0.226);
    color: #6101af9f;
    font-weight: bold;
    letter-spacing: 0.5px;

}

.formAA{
    background-color: rgb(241, 255, 255) ;
    font-size: 1.8rem;
    display: inline-block;
    width: 25rem;
    height: 25rem;
    margin-left: 2rem;
    flex-wrap: wrap;
    padding: 2rem ;
    border: 2px solid rgba(255, 83, 169, 0.226);
    color: #6101af9f;
    font-weight: bold;
    letter-spacing: 0.5px;

}

input[type=checkbox]{
  transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari y Chrome */
  -o-transform: scale(2); /* Opera */
}



/* carrito */


.container__carrito{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: none;
}


.carrito__visual{
    height: 55rem;
    width: 80rem;
    position: relative;
    top:58%;
    transform: translate(-50%,-50%);
    background-color: rgb(214, 255, 255) ;
    border: 2px solid rgba(255, 218, 224, 0.959);
    border-radius: 5px;
    left: 50%;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}

.carrito__nav{
    width: 80rem;
    height:9rem;
    position:relative;
    bottom:-4%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: rgb(191, 255, 255) ;
    filter: drop-shadow(-5px 5px 10px rgba(251, 203, 255, 0.603));
    z-index: 100000;
    border-radius: 5px;
    border: 2px solid rgba(255, 218, 224, 0.959);
    border-top: none;
    display: none;
}

.carrito__visual::-webkit-scrollbar {
    background-color: rgb(191, 255, 255) ;
    width: 7px;

}

.carrito__visual::-webkit-scrollbar-thumb {
    background-color: #ffdafc;
    border-radius: 10px;
    width: 10em;

}

.eliminar{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.3rem;
    margin-top: 1.4rem;
    color: rgb(255, 240, 240);
    margin-left: 1.5rem;
    background-image: linear-gradient(144deg,#af40ff60, #5a42f3b0 50%,#00dbeb83);
    border: 1px solid #f70bff50;
    
}
.eliminar i:hover{
    color:rgb(255, 70, 70);
    font-size: 2.5rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.eliminar:active{
    font-size: 1.2rem;
}

.vaciar{
    width: 12rem;
    height: 4rem;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 4%;
    margin-top: 2.5rem;
    color: #7212aaf1;;
    background-color: rgba(255, 234, 250, 0.925);
    border: 2px solid #f59bf850;
}

.vaciar:active{
    width: 11.8rem;
    height: 4rem;
    box-shadow: 0 0 0.5rem rgb(252, 2, 231);
    color: #66005eb6;
    border: none;
}

.total{
    width: 100%;
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 1px;
    color: #a200ff;
    margin-left: -0.5rem;
}

.titleCarrito{
    filter: drop-shadow(5px 5px 10px rgba(251, 203, 255, 0.603));
    width: 100%;
    text-align: center;
    height: 7rem;
    background-color: rgb(191, 255, 255) ;
    position: fixed;
}

.titleCarrito p{
    font-size: 2.5rem;
    font-weight: 900;
    color: #a200ffb6;;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.iconExit{
    font-size: 3.7rem;
    font-weight: 800;
    position: absolute ;
    z-index: 1203021;
    color: #a200ffb6;;
    top: 1.5rem;
    right: 4%;
    cursor: pointer;
}
.iconExit:active{
    font-size: 3.6rem;
}


.iconExit i:hover{
    color:rgb(242, 94, 255);
    transition: all 0.4s ease-in-out;
}

.carrito__productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 13.5rem;
    margin-bottom: 13.5rem;
}

.prodCar{
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding: 4rem 6rem;
    padding-top: 2rem;
    font-size: 1.7rem;
    flex-direction: row;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 2rem;
}


.textP p{
    margin-top: 2rem;
}

.nombreProd p{
    font-weight: 700;
    margin-left: 0rem;
    width: 30rem;
    color: #a200ff;

}

.precioProd p{
    font-weight: bold;
    letter-spacing: 1px;
    color: #a200ff;

    font-size: 2.2rem;
    margin-left: 1rem;
}

.precioProd {
    padding: 0 3rem;
}
.imgProd{
    padding: 0 3rem;
}

.imgProd img{
    width: 8rem;
    margin-left: -4rem;
    height: 8rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}



@media screen and (max-width:1400px){
    /* carrito */

    .carrito__visual{
        height: 50rem;
        width: 65rem;
        top:57%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .prodCar{
        gap:2rem;
        line-height: 2rem;
        padding: 2rem 1rem;
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }

    .textP p{
        margin-top: 0rem;
    }

    .nombreProd p{
        font-weight: 700;
        margin-left: 0rem;
        width: 15rem;
    }

    .precioProd p{
        font-weight: 700;
        font-size: 2rem;
        margin-left: 5rem;
        margin-top: 1.5rem;
    }

    .imgProd img{
        width: 6rem;
        margin-left: 0rem;
        height: 6rem;
    }

    .eliminar{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2.3rem;
        margin-top: 1rem;
        color: rgb(255, 240, 240);
        margin-left: 1.5rem;
    }

        
    .carrito__nav{
        width: 65rem;
        bottom:-2rem;
        left: 50%;
        z-index: 500000;
        transform: translate(-50%,0%);
    }

    .carrito{
        margin-top: rem;
    }
}


@media screen and (max-width: 1080px){
    .header {
        height: 60px;
    }

    .nav-menu-link i{
        font-size: 3rem;
        position: relative;
        top: 3rem;
        color: #ad5cff;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 20px 0;
        height: 100%;
        overflow: auto;
        left: 100%;
        transition: left 0.3s;
        padding-top: 20rem;
    }
    .nav-menu-item {
        line-height: 80px;    
    }
    .nav-menu-item a{
        font-size: 2.1rem;
    }

    .cuenta{
        margin-top: 2rem;
        line-height: 60px;
        border: 2px solid #b871ff;
    }

    .busq{
        display: none;
    }

    .cuenta a{
        font-size: 2rem;
    }
    

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        position: absolute;
        left: 10%;
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .fas{
        color: #ad5cff;
    }

    .nav__logo{
        z-index: 100000;
        margin-left: 0rem;
    }

    .carrito {
        position: fixed;
        top: 4.3%;
        right: 10%;
        font-size: 3.2rem;
        z-index: 11000;
        margin-top: -0.4rem;
    }
    
    .nav{
        padding-right: 5.5rem;
    }

    .nav2{
        width: 85%;
        text-align: center;
    }
    
    .nav2 span{
        padding: 0 1rem;
    }
    
    .nav2 a{
        font-size: 1.5rem;
    }

    
    .nav2{
        width: 80%;
        text-align: center;
    }
    
    .nav2 span{
        padding: 0 1rem;
    }
    
    .nav2 a{
        font-size: 1rem;
    }

    
    
    #prod{
        width: 88%;
        gap: 3rem;
        margin-left: 18%;
        padding: 0 5rem;
        margin-top: -40rem;
    }
    .prod__marco{
        width: 38%;
        min-height: 50%;
    }

    .prod__agregar{
        width: 80%;
        height: 4.5rem;
    }

    .prod__agregar p{
        width: 100%;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #8902f7;
        text-align: center;
    }

    .prod__marco:hover{
        width: 38.2%;
        height: 50.03rem;
    }

    .carrito__visual::-webkit-scrollbar {
        display: none;
    }
    
    .carrito__nav{
        bottom:-2rem;
        left: 50%;
        transform: translate(-50%,0%);
    }

}





@media screen and (max-width: 767px){
    .nav2{
        width: 95%;
        text-align: center;
    }
    
    .nav2 span{
        padding: 0 1rem;
    }
    
    .nav2 a{
        font-size: 1.1rem;
    }

    .container{
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 40rem;
        margin-left: 0rem;
    }

    #prod{
        width: 90%;
        gap: 4rem;
        padding: 0 2rem;
        margin-left: 0;
        margin: 0 auto;
        margin-top: 7rem;
    }

    .prod__marco{
        width: 26rem;
        height: 43rem;
    }

    .prod__agregar p{
        width: 100%;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
    }

    .prod__marco:hover{
        width: 26.2rem;
        height: 43.2rem;
    }


    /* filtro movile */

    .selec__desktop{
        display:none;
        width: 95%;
        border-radius: 5px;
        height: 50vh;
        position: relative;
        top: 34.7%;
    }


    .exitFiltro{
        font-size: 4rem;
        position: absolute;
        display: inline-block;
        top: 1%;
        right: 4%;
    }

    .exitFiltro i:hover{
        text-align: center;
        font-size: 4.1rem;
        cursor: pointer;
    }
        
    .selec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        line-height: 4rem;
        z-index: 1000;
        gap: 2rem;
        margin-left: 0rem;
    }

    .select__button{
        width: 95%;
        height: 4rem;
        margin-top: -5rem;
        border-radius: 5px;
        position: relative;
        z-index: 12000210;
        cursor: pointer;
        display: inline-block;
    }

    .select__button p{
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
    }
    .select__button p:hover{
        text-align: center;
        font-size: 1.55rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .formPG{
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        margin-top: -1rem;
        margin-left: 0rem;
        flex-wrap: wrap;
        padding: 5rem 2rem;
    }

    .formAA{
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        height: 25rem;
        margin-left: 0rem;
        flex-wrap: wrap;
        padding: 2rem ;
    }


        /* carrito */

    .carrito__visual{
        height: 53rem;
        width: 49rem;
        top:57%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .prodCar{
        gap:2rem;
        line-height: 2rem;
        padding: 2rem 1rem;
        font-size: 1.4rem;
        margin-left: 0rem;
    }

    .textP p{
        margin-top: 0rem;
    }

    .nombreProd p{
        font-weight: 700;
        margin-left: 0rem;
        width: 15rem;
    }

    .precioProd p{
        font-weight: 700;
        font-size: 2rem;
        margin-left: 5rem;
        margin-top: 1.5rem;
    }

    .imgProd img{
        width: 6rem;
        margin-left: 0rem;
        height: 6rem;
    }

    .eliminar{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2.3rem;
        margin-top: 1rem;
        color: rgb(255, 240, 240);
        margin-left: 1.5rem;
    }

        
    .carrito__nav{
        width: 50rem;
        bottom:-6%;
        left: 50%;
        z-index: 500000;
        transform: translate(-50%,0%);
    }

    .carrito{
        margin-top: -0.5%;
    }

}

@media screen and (max-width: 480px){
  /* carrito */
    .carrito__visual{
        display: flex;
        height: 50rem;
        width: 31.5rem;
        top:56%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .prodCar{
        gap:2rem;
        line-height: 2rem;
        padding: 2rem 0.5rem;
        font-size: 1.2rem;
    }


    .carrito {
        margin-top: -0.3rem;
    }

    .textP p{
        margin-top: 0rem;
    }

    .nombreProd{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .nombreProd p{
        font-weight: 700;
        margin-left: -.5rem;
        width: 14rem;
        height: 7rem;
    }

    .precioProd p{
        font-weight: 700;
        font-size: 1.7rem;
        margin-left: -2rem;
        margin-top: 1rem;
    }

    .imgProd img{
        width: 4.2rem;
        margin-left: 0rem;
        margin-top: 1rem;
        height: 4.6rem;
    }

    .imgProd{
        padding: 0;
    }

    .precioProd{
        padding: 0;
    }

    .eliminar{
        width: 3rem;
        height: 3rem;
        font-size: 2.3rem;
        margin-top: 0.7rem;
        color: rgb(255, 240, 240);
        margin-left: 0rem;
    }

        
    .carrito__nav{
        width: 31.59rem;
        height: 6rem;
        bottom:-6%;
        left: 50%;
        transform: translate(-50%,0%);
    }

    .vaciar{
        width: 12rem;
        height: 4rem;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 4%;
        margin-top: 1rem;
        color: #a200ffb6;;
        background-color: rgba(255, 234, 250, 0.925);
        border: 2px solid #f59bf850;

    }

    .vaciar:active{
        width: 11.8rem;
        height: 4rem;
        box-shadow: 0 0 0.5rem rgb(252, 2, 231);
        color: #66005eb6;
        border: none;
    }

    .total{
        width: 100%;
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
        margin-top: 1.7rem;
        letter-spacing: 1px;
        color: #a200ff;
        margin-left: -6.5rem;
    }

}


