*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    overflow: hidden;
}




.ball{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    background-color: #f2fdff;
    margin: 0 auto;
    opacity: 0;
}


/* preload */

/* configuracion preload */
.preload{
    width: 100vw;
    height: 100vh;
    background-color: #ccffff;
    position: fixed;
    top: 0rem;
    left: 0px;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* clase que crea js para que se cierra */

.cerrar{
    opacity: -0;
    transition: all 0.5s;
}



.preload__img {
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* ------------------- */


.header {
    position: relative;
    height: 11rem;

}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ccffff;
    flex-direction: row;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
} 

.nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #ad5cff;
    font-weight: 800;
    letter-spacing: 1px;
} 

.nav__logo{
    margin-top: 0.5%;   
}


.nav__logo img{
    width: 55%;
    margin-left: 7rem;
}


.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 5rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}


.nav-menu-link_active {
    color: #ad5cff;
    border-radius: 9%;
    transition: 0.5s;
}

  /* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    z-index: 4000;
}

.cuenta{
    border: 2px solid #b871ff;
}


  /* MOBILE */
@media (max-width: 1029px) {

    .header {
        height: 60px;

    }

    .carrito .fas{
        font-size: 3rem;
        position: relative;
        top: 2rem;
        color: #83c5f7;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 20px 0;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        padding-top: 17rem;
    }
    .nav-menu-item {
        line-height: 80px;    
    }
    .nav-menu-item a{
        font-size: 2.1rem;
    }

    .nav__logo{
        z-index: 4000;
        width: 40%;
    }

    .cuenta{
        margin-top: 2rem;
        line-height: 60px;
        border: 2px solid #b871ff;
    }

    .cuenta a{
       font-size: 2rem;
    }

    .nav__logo img{
        width: 70%;
        margin-left: 0rem;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .fas{
        color: #ad5cff;
        font-size: 3.9rem;
        margin-top: 2rem;
    }

}

.cuenta{
    color: #ad5cff;
    border-radius: 15%;
    margin-left: 2rem;
}


/*  NAV 2  */

.nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #ccffff;
    width: 50%;
    margin: 5rem auto;
    box-shadow: 0.1rem 0.1rem 0.7rem #87eeee ;
    border-radius: 4%;
    margin-top: 12rem;
}


.nav2 ul{
    list-style: none;
}

.nav2 span{
    padding: 0 3rem;
}

.nav2 li{
    display: inline-block;
    padding: 1.5rem 0;
}

.nav2 a{
    text-decoration: none;
    font-size: 1.7rem;
    color: #ad5cff;
    font-weight: 800;
    text-transform: uppercase;;
}



/* Container1 /gato grande barra de busqueda */

.container{
    height: 70vh;
    width: 100vw;
    position: relative;
}

.container p{
    font-size: 4.3rem;
    color: #ad5cff;
    font-weight: 800;
    position: absolute;
    top: 15%;
    right: 15%;
}

.barraBusqueda{
    background-color: #efe0ff ;
    width: 57.5rem;
    height: 4.5rem;
    position: absolute;
    top: 28%;
    right: 15%;
    border: none;
    font-size: 2.5rem;
    color: rgb(35, 0, 70);
    font-weight: 700;
    padding: 2rem;
    z-index: 1000;
    border-radius: 5%;
}


.nav-menu-link i{
    font-size: 3rem;
    position: absolute;
    top: 3.8rem;
}

.barraBusqueda[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #ccffff;
    color: #ad5cff;
}

.barraBusqueda::placeholder{
    color: #cb97ff;
    font-size: 2.4rem;
}


.container__gatoGrande{
    position: absolute;
    top: 59%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}

.container__gatoGrande img{
    width: 65%;

}

.container__gato1 img{
    position: absolute;
    bottom: -3.8%;
    right:5%;
    z-index: 100;
}

.hueso{
    position: absolute;
    top: -5rem;
    left: 3%;
    margin-top: -1%;
    animation: anima1 2s linear infinite;
}

.hueso img{
    width: 85%;
}



@keyframes anima1 {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-3deg);
    }

    40%{
        transform: rotate(-6deg);
    }

    70%{
        transform: rotate(-3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


/*    Quienes somos /container2    */

.container2{
    background-color: #ccffff ;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}

.container2 p{
    font-size: 5rem;
    width: 100%;
    text-align: center;
    color: #ad5cff;
    font-weight: 800;
    padding-top: 20rem;
}

.container2 .text1{
    font-size: 3rem;
    font-weight: 700;
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    line-height: 4.1rem;
}

.container2__gato2 {
    position: absolute;
    bottom: -10%;
    left: -0.9%;
    z-index: 1000;
}

.container2__gato2 img{
    width: 70%;
    height: 70%;
    z-index: 100;
}


/* Container3 / que hacemos */

.container3{
    background-image: url("./src/img/Fondo\ Tricolor.png");
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}

.container3 p{
    font-size: 5rem;
    width: 100%;
    text-align: center;
    color: #ad5cff;
    font-weight: 800;
    padding-top: 15rem;
}

.container3 .text2{
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    width: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    line-height: 4.1rem;
}

@media (max-width :1500px){

    
    .nav2{
        width: 64%;
    }


    .nav2 a{
        font-size: 1.7rem;
    }

}


@media (max-width :1400px){

 

    .nav-link {
        font-size: 1.5rem;
    } 


    .nav__logo img{
        width: 60%;
    }

    

    /*  NAV 2  */

    .nav2{
        width: 80%;
    }


    .nav2 a{
        font-size: 1.5rem;
    }


    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .container p{
        font-size: 3.5rem;
    }

    .barraBusqueda{
        width: 47rem;
        font-size: 2.3rem;
    }

    .barraBusqueda::placeholder{
        font-size: 2.2rem;
    }

    .container__gatoGrande{
        top: 40%;
        left: 37%;
    }

    .container__gatoGrande img{
        width: 55%;
    }

    .container__gato1 img{
        position: absolute;
        bottom: -3.4%;
        right:5%;
        z-index: 100;
        width: 20%;
    }

    .hueso{
        left: 1%;
    }

    .hueso img{
        width: 75%;
    }


    /*    Quienes somos /container2    */


    .container2 p{
        font-size: 4.5rem;
        padding-top: 5rem;
    }

    .container2 .text1{
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-top: 3rem;
    }


    /* Container3 / que hacemos */

    .container3{
        background-image: url("./src/img/Fondo\ Tricolor.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .container3 p{
        font-size: 4.5rem;
        padding-top: 5rem;
    }

    .container3 .text2{
        font-size: 2.5rem;
        margin-top: 3rem;
        line-height: 3.5rem;
    }

}


@media (max-width: 1082px){

    /*  NAV 2  */

    .nav2{
        width: 87%;
    }

    .nav2 a{
        font-size: 1.3rem;
    }


    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 100vh;
    }

    .container p{
        font-size: 3rem;
        right: 10%;
        top: 22%;
    }

    .barraBusqueda{
        width: 40rem;
        font-size: 2.3rem;
        right: 10%;
        top: 35%;
    }

    .barraBusqueda::placeholder{
        font-size: 2.1rem;
    }

    .container__gatoGrande{
        top: 40%;
        left: 37%;
    }

    .container__gatoGrande img{
        width: 55%;
    }

    .container__gato1 img{
        bottom: -3.1%;
        right:8%;
        width: 28%;
    }

    .hueso{
        left: 0.5%;
    }

    .hueso img{
        width: 67%;
    }


    /*    Quienes somos /container2    */


    .container2 p{
        font-size: 4rem;
        padding-top: 10rem;
    }

    .container2 .text1{
        font-size: 2.3rem;
        width: 70%;
        line-height: 3.3rem;
    }


    /* Container3 / que hacemos */

    .container3{
        background-image: url("./src/img/Fondo\ Tricolor.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .container3 p{
        font-size: 4rem;
        padding-top: 10rem;
    }

    .container3 .text2{
        font-size: 2.3rem;
        width: 70%;
        line-height: 3.3rem;
    }

    .container2__gato2{
        margin-left: -0.3%;
    }
}


@media (max-width :868px){

    .nav{
        height: 10rem;
    }

    /*  NAV 2  */


    .nav2{
        width: 80%;
    }

    .nav2 a{
        font-size: 1.3rem;
    }

    .nav2 span{
        padding: 0 0.7rem;
    }

    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 100vh;
    }

    .container p{
        font-size: 2.3rem;
        right: 10%;
        top: 22%;
    }

    .barraBusqueda{
        width: 31rem;
        font-size: 2.3rem;
        right: 10%;
        top: 33%;
    }

    .barraBusqueda::placeholder{
        font-size: 1.8rem;
    }

    .container__gatoGrande{
        top: 38%;
        left: 33%;
    
    }

    .container__gatoGrande img{
        width: 60%;
    }

    .container__gato1 img{
        bottom: -2.3%;
        right:8%;
        width: 30%;
        
    }

    .hueso{
        left: 0.5%;
    }

    .hueso img{
        width: 67%;
    }


    /*    Quienes somos /container2    */


    .container2 p{
        font-size: 3.5rem;
        padding-top: 10rem;
    }

    .container2 .text1{
        font-size: 2.1rem;
        width: 70%;
        line-height: 3.3rem;
    }


    /* Container3 / que hacemos */

    .container3{
        background-image: url("./src/img/Fondo\ Tricolor.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .container3 p{
        font-size: 3.5rem;
        padding-top: 10rem;
    }

    .container3 .text2{
        font-size: 2.1rem;
        width: 70%;
        line-height: 3.3rem;
    }

    .container2__gato2{
        margin-left: -0.3%;
    }
    
    .container2__gato2 img{
        width: 50%;
    }
}


@media (max-width: 634px){

    .nav{
        height: 10rem;
    }
    .nav__logo{
        width: 60%;
    }

    /*  NAV 2  */


    .nav2{
        width: 90%;
    }

    .nav2 a{
        font-size: 1.1rem;
    }

    .nav2 span{
        padding: 0 0.4rem;
    }

    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 80vh;
    }

    .container p{
        font-size: 1.9rem;
        right: 8%;
        top: 22%;
    }

    .barraBusqueda{
        width: 26rem;
        height: 1.5rem;
        font-size: 2.3rem;
        right: 8%;
        top: 30%;
    }

    .barraBusqueda::placeholder{
        font-size: 2rem;
    }

    .container__gatoGrande{
        top: 36%;
        left: 32%;
    }

    .container__gatoGrande img{
        width: 65%;
    }

    .container__gato1 img{
        bottom: -4.2%;
        right:8%;
        width: 40%;
    }

    .hueso{
        display: none;
        left: 0.5%;
    }

    .hueso img{
        width: 67%;
    }


    /*    Quienes somos /container2    */


    .container2 p{
        font-size: 3rem;
        padding-top: 10rem;
    }

    .container2 .text1{
        font-size: 1.9rem;
        width: 83%;
        line-height: 3.3rem;
        text-align:justify;
    }


    /* Container3 / que hacemos */

    .container3{
        background-image: url("./src/img/Fondo\ Tricolor.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .container3 p{
        font-size: 3rem;
        padding-top: 10rem;
    }

    .container3 .text2{
        font-size: 1.9rem;
        width: 83%;
        line-height: 3.3rem;
        text-align:justify;
    }

    .container2__gato2{
        margin-left: -0.7%;
    }
    
    .container2__gato2 img{
        width: 50%;
    }
}


@media (max-width: 482px){

    
    .nav{
        height: 10rem;
    }

    .nav__logo{
        width: 70%;
    }

    /*  NAV 2  */


    .nav2{
        width: 95%;
        margin-top: 12rem;
    }

    .nav2 a{
        font-size: 1rem;
    }

    .nav2 span{
        padding: 0 0.2rem;
    }
    .camas a{
        display: none;
    }

    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 40vh;
    }

    .container p{
        position: absolute;
        font-size: 2.2rem;
        width: 100%;
        text-align: center;
        left: 0%;
        top: 15%;
    }

    .barraBusqueda{
        position: absolute;
        width: 30rem;
        font-size: 2.3rem;
        top: 35%;
        right: 0;
        left: 0%;
        margin: 0 auto;
    }

    .barraBusqueda::placeholder{
        font-size: 1.7rem;
    }

    .container__gatoGrande{
        top: 66%;
        left: 32%;
        display: none;
    }

    .container__gatoGrande img{
        width: 65%;
    }

    .container__gato1 img{
        bottom: -4.2%;
        right:8%;
        width: 50%;
    }

    .hueso{
        display: none;
        left: 0.5%;
    }

    .hueso img{
        width: 67%;
    }


    /*    Quienes somos /container2    */


    .container2 p{
        font-size: 3rem;
        padding-top: 10rem;
    }

    .container2 .text1{
        font-size: 1.5rem;
        width: 83%;
        line-height: 3.1rem;
        text-align:justify;
        letter-spacing: 0;
    }


    /* Container3 / que hacemos */

    .container3{
        background-image: url("./src/img/Fondo\ Tricolor.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .container3 p{
        font-size: 3rem;
        padding-top: 10rem;
    }

    .container3 .text2{
        font-size: 1.5rem;
        width: 83%;
        line-height: 3.1rem;
        text-align:justify;
        letter-spacing: 0;
    }

    .container2__gato2{
        margin-left: -1.1%;
    }
    
    .container2__gato2 img{
        width: 50%;
    }

}

