*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main{
    overflow: hidden;
    scroll-behavior:smooth;
    background-color: #240a1a;
}

::-webkit-scrollbar {
    width: 20px;
    border: 3px solid rgba(0, 0, 0, 0.479);
    height: 20px;
    background-image: url(./src/img/pantallaNavMovil.png);
    background-position: top;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background:rgb(250, 238, 215);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(250, 238, 215);
}
::-webkit-scrollbar-thumb:active {
    background: #fcfcfc;
}
::-webkit-scrollbar-track {
    border: 0px none #ffffff;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}



.ball{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    background-color: #ffffff ;
    margin: 0 auto;
    opacity:0;
}


/* preload */

/* configuracion preload */
.preload{
    width: 100vw;
    height: 100vh;
    background-color: #e0edff ;
    position: fixed;
    top: 0rem;
    left: 0px;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* clase que crea js para que se cierra */

.cerrar{
    opacity: 0;
    transition: all 0.5s;
}


.preload__img {
    animation: lds-dual-ring 1.2s linear infinite;
    margin-top: 2rem;
}

.preload__img img{
    width:105%;
    height: 60%;
    filter: drop-shadow(1.1px 0.1px 0.1px #000000);
}

@keyframes lds-dual-ring {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* ------------------- */


.nav{
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
}

.nav__img{
    position: relative;
    width: 100%;
    text-align: center;
    filter: contrast(105%);
}

.navVar-movile{
    display: none;
}

.nav__img img{
    width: 85%;
    height: 7.7rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 1px black);
    color:rgb(250, 238, 215);

} 

.nav-menu {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    list-style: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: .4rem;
}

.nav-menu-link {
    padding: 0px 12px;
    border-radius: 3px;
}

.nav-menu-link_active {
    border-radius: 9%;
    transition: 0.5s;
}

.logo{
    position: absolute;
    top: 0rem;
    left: 12%;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    z-index: 4000;
    display: none;
}

  /* TOGGLE */
.nav-toggle {
    position: absolute;
    top: 0rem;
    right: 12%;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    z-index: 4000;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 4.5rem;
    text-transform: uppercase;
    width: max-content;
}

.cuenta{
    border: 2px solid rgb(250, 238, 215);
    border-radius: 15%;
    margin-left: 2rem;
}

.nav-menu-link_active:hover{
    transition: all 0.2s ease-in-out;
}

.nav li a:hover{
    filter: drop-shadow(1px 1px 5px rgb(102, 102, 102));
    transition: all 0.2s ease-in-out;
}


span{
    font-size: 1.6rem;
    color: #ad5cff;
    font-weight: 800;
}

.cuenta:hover{
    filter: drop-shadow(1px 1px 1px rgb(102, 102, 102));
    transition:all 0.5s ease-in-out;
}

.nav-menu-link i{
    font-size: 2.5rem;
    position: absolute;
    top: 3.8rem;
}

/* TITLE  */
.container__title {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadows{
    position: absolute;
    top: 42%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.shadows span{
    position: relative;
    text-transform: uppercase;
    text-shadow: -1px 2px 15px #9c9c9c;
    color: rgb(255, 255, 255);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 6rem;
    transition: all 0.25s ease-out;
    filter: drop-shadow(-3px 3px 1px rgb(56, 56, 56));
}

.space {
    padding: 0 1rem;
}

.container1{
    background-color: white;
}

.container{
    height: 95vh;
    width: 100vw;
    position: relative;
    background-image: url("./src/img/cloud.png");
    background-size: cover;
    background-attachment: fixed;
}


.container__gatoGrande{
    position: absolute;
    top: 59%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    filter: drop-shadow(5px 10px 3px #464646cc);
    filter:contrast(125%);
}

.container__gatoGrande img{
    width: 65%;

}

.container__gato1 {
    position: absolute;
    bottom: -26%;
    right: 10%;
    z-index: 100;
    filter: drop-shadow(4px 7px 6px #4e5c5c);
    opacity: 0;
}

.hueso{
    position: absolute;
    top: 0rem;
    z-index: 9000;
    left: 6.5%;
    margin-top: -1%;
    animation: anima1 2s linear infinite;
    filter: drop-shadow(5px 10px 3px #464646cc);

}

.hueso img{
    width: 85%;
}



@keyframes anima1 {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-3deg);
    }

    40%{
        transform: rotate(-6deg);
    }

    70%{
        transform: rotate(-3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}



/* Container2 */


.container2__movil{
    display: none;
}


.box__container2{
    position: relative;
    width: 100vw;
    height: 110vh;
    background-image: url("./src/img/fondoPara3.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter:contrast(105%);
    z-index: 1;
}


.container2__sol{
    position: absolute;
    left: 115rem;
    top: 30rem;
}

.container2__sol img{
    width: 250px;
    height: 250px;
    mix-blend-mode:overlay;
}

.box__container2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -10rem;
    background-color: #290c1e;
    z-index: 1000;
}

.container2__cloud{
    background-image: url("./src/img/cloud2.png");
    background-size: contain;
    position: absolute;
    top: -10rem;
    width: 100%;
    height: 30rem;
    left: 50%;
    transform: translate(-50%);

}


.cartel{
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
}


  
@keyframes slidein {
    0% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.678));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.678));
    }
  
    60% {
        filter: none;
    }
    80% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.678));
    }
  
    100% {
        filter: none;
    }
  }


.cartel-movil{
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
}


  
@keyframes slidein {
    0% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.685));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.747));
    }
  
    60% {
        filter: none;
    }
    80% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.767));
    }
  
    100% {
        filter: none;
    }
  }




/* cartel perro */


.container2-cartel1 img{
    width: 220px;
    height: 300px;
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    filter:drop-shadow(10px 10px 8px #240a1afa);
}

.container2-cartel1 img:hover{
    filter:drop-shadow(10px -15px 18px white) !important;
    transition: all .3s ease-in-out;
}

/* cartel cuchas */

.container2-cartel2 img{
    width:160px;
    height: 64px;
    position: absolute;
    top: 40rem;
    left: -1.8rem;
    filter:drop-shadow(5px 5px 5px #272727fa);
    
}

.container2-cartel2 img:hover{
    filter:drop-shadow(10px -15px 18px white) !important;

    transition: all .3s ease-in-out;
}

/* cartel gatos */

.container3-cartel3 img{
    width: 230px;
    height: 320px;
    position: absolute;
    bottom: 20rem;
    left: 58rem;
    filter:drop-shadow(-1px 5px 8px #272727fa);
}

.container3-cartel3 img:hover{
    filter:drop-shadow(-10px 10px 15px white)!important;
    transition: all .3s ease-in-out;
}

/* cartel accesorios */

.container4-cartel4 img{
    width: 140px;
    height: 170px;
    position: absolute;
    top: 44rem;
    left: 25rem;
    filter:drop-shadow(-1px 5px 8px #272727fa);
}

.container4-cartel4 img:hover{
    filter:drop-shadow(2px 5px 10px white)!important;
    transition: all .3s ease-in-out;
}

/* cartel alimentos */

.container5-cartel5 img{
    width: 120px;
    height: 140px;
    position: absolute;
    top: 27rem;
    left: 70rem;
    filter:drop-shadow(-1px 5px 8px #272727fa);
}

.container5-cartel5 img:hover{
    filter:drop-shadow(2px 5px 10px white)!important;
    transition: all .3s ease-in-out;
}

/* cartel juguetes */

.container7-cartel7 img{
    width:160px;
    height: 60px;
    position: absolute;
    top: 47rem;
    left: -1.8rem;
    filter:drop-shadow(5px 5px 5px #272727fa);
}

.container7-cartel7 img:hover{
    filter:drop-shadow(10px -10px 15px white)!important;
    transition: all .3s ease-in-out;
}

.container__space{
    width: 100vw;
    height: 15vh;
    background-color: #240a1a;
}

/* Container3 */
.container3{
    background-image: url(./src/img/mader2.jpg);
    background-position: top;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.box__container3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    font-size: 2.5rem;
    color: wheat;
    position: absolute;
    top: 3rem;
    filter: drop-shadow(-2px 2px 2px black);
    opacity: 0;
}

.container3__quienesSomos,.container3__queHacemos{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2.9rem;
}

.container3__quienesSomos{
    position: absolute;
    top: 20%;
    left: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.container3__queHacemos{
    position: absolute;
    top: 58%;
    right:  24%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


/* container4 */

.box__container4{
    position: relative;
    width: 100vw;
    height: 70vh;
}

.text__container4 a{
    position: absolute;
    font-size: 7rem;
    z-index: 2000;
    top: 50%;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(255, 251, 240);
    filter: drop-shadow(3px 4px 1.8px rgb(0, 0, 0));
}

.text__container4 a:hover{
    font-size: 7.2rem;
    filter: drop-shadow(1px 1px 10px rgb(110, 77, 133));
    transition: all .6s ease-in-out;
}

.img__container4{
    position: relative;
    width: 100%;
    background-image: url("./src/img/dia5.png");
    height: 80rem;
    filter:contrast(108%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1000;
}

.imgTienda__container4{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("./src/img/tienda2.png");
    filter:contrast(110%);
    background-size: contain;
    background-position: top;
    object-fit: cover;
    z-index: 1;
}

.container4__cloud{
    height: 36vh;
    width: 100%;
    position: absolute;
    background-image: url("./src/img/cloud.png");
    background-size: cover;
    filter:contrast(105%);
    object-fit: cover;
    bottom: -10rem;
    z-index: 2000;
    left: -1rem;
}


/* container5 */

.box__container5{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./src/img/cloud.png");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;

}

.container5{
    background-color: white;
}


.container5{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container5__img{
    width: 100%;
    text-align: center;
    padding-top: 11rem;
    filter: drop-shadow(10px -13px 5px #0000003f);
}
.container5__img img{
    width: 16%;
}

.container5__text p{
    font-size: 6rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    filter: drop-shadow(1px -5px 3px #0000008e);
}


@media screen and (min-width: 1401px) and (max-width: 1700px){
    

    .container__gato1{
        position: absolute;
        bottom: -29.5%;
        right:5%;
        z-index: 100;
    }


    /* container2 */

    .container2__sol{
        left: 108rem;
        top: 28rem;
    }
   
    .container2__sol img{
        width: 220px;
        height: 220px;
    }

 
    /* cartel perro */

    .container2-cartel1 img{
        width: 220px;
        height: 300px;
        bottom: 10rem;
        right: 3rem;
    }


    /* cartel gatos */

    .container3-cartel3 img{
        width: 210px;
        height: 300px;
        bottom: 17rem;
        left: 52rem;
    }

    /* cartel accesorios */

    .container4-cartel4 img{
        width: 140px;
        height: 170px;
        top: 44rem;
        left: 23rem;
    }


    /* cartel alimentos */

    .container5-cartel5 img{
        width: 120px;
        height: 140px;
        top: 27rem;
        left: 64rem;
    }


    .container__space{
        width: 100vw;
        height: 15vh;
    }

    /* Container3 */
    .container3{
        background-size: cover;
        height: 110vh;
        width: 100vw;
    }

    .box__container3{
        width: 100vw;
        height: 100vh;
        font-size: 2.2rem;
    }

    
    /* container4 */

    

    .imgTienda__container4{
        background-size: cover;
    }

    .container4__cloud{
        width: 102%;
        bottom: -8rem;
    }

    /* container5 */

    
    .container5{
        background-color: white;
    }
    
}


@media (max-width :1400px){

 

    .nav-link {
        font-size: 1.3rem;
    } 


    .nav__logo img{
        width: 70%;
        margin-left: 2rem;
    }

    

    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 95vh;
        width: 100vw;
        position: relative;
    }

    .container p{
        font-size: 3.5rem;
    }


    .containerBusqueda{
        width: 45%;
        right:5%;
    }
    

    .barraBusqueda::placeholder{
        font-size: 2.2rem;
    }

    .container__gatoGrande{
        top: 45%;
        left: 38%;
    }

    .container__gatoGrande img{
        width: 65%;
    }

    .container__gato1{
        position: absolute;
        bottom: -25%;
        z-index: 100;
    }

    .hueso{
        left: 5%;
        top: -3rem;
    }

    .hueso img{
        width: 75%;
    }


    
    .container__gato1{
        position: absolute;
        bottom: -29.5%;
        right:5%;
        z-index: 100;
    }


    /* container2 */



    .container2__cloud {
        background-size: cover;
    }

    .container2__sol{
        left: 108rem;
        top: 28rem;
    }
   
    .container2__sol img{
        width: 220px;
        height: 220px;
    }

 
    /* cartel perro */

    .container2-cartel1 img{
        width: 220px;
        height: 300px;
        bottom: 10rem;
        right: 3rem;
    }


    /* cartel gatos */

    .container3-cartel3 img{
        width: 210px;
        height: 300px;
        bottom: 17rem;
        left: 52rem;
    }

    /* cartel accesorios */

    .container4-cartel4 img{
        width: 140px;
        height: 170px;
        top: 44rem;
        left: 23rem;
    }


    /* cartel alimentos */

    .container5-cartel5 img{
        width: 120px;
        height: 140px;
        top: 27rem;
        left: 64rem;
    }


    .container__space{
        width: 100vw;
        height: 15vh;
    }

    /* Container3 */
    .container3{
        background-size: cover;
        height: 110vh;
        width: 100vw;
    }

    .box__container3{
        width: 100vw;
        height: 100vh;
        font-size: 2.2rem;
    }
    
    .container3__quienesSomos,.container3__queHacemos{
        width: 40%;
    }

    
    .container3__quienesSomos{
        position: absolute;
        top: 21%;
        left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        text-align:center;

    }

    .container3__queHacemos{
        position: absolute;
        top: 55%;
        right:  15%;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align:center;
        gap: 3rem;
    }

    
    /* container4 */

    

    .imgTienda__container4{
        background-size: cover;
    }

    .container4__cloud{
        width: 102%;
        bottom: -8rem;
    }



    .text__container4 a{
        font-size: 7rem;
        z-index: 2000;
        width: 100%;
        text-align: center;
    }

    /* container5 */

    .container5{
        background-color: white;
    }

}


@media (max-width: 1082px){

    .nav__img img {
        width: 85%;
        height: 7rem;
    }
    

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-image: url(./src/img/mader.png);
        background-size: cover;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 20px 0;
        height: 100vh;
        left: 100%;
        overflow-y: auto;
        padding-top: 0rem;
        transition: left 0.3s;
        filter:contrast(105%);
    }
    
    .nav-menu_visible {
        left: 0%;
    }

    .nav-menu-item {
        line-height: 80px;    
        
    }
    .nav-menu-item a{
        font-size: 2.1rem;
    }

    .cuenta{
        margin-top: 2rem;
        line-height: 60px;
        background-color: #ff260017;
        border-color: #ffffff6b;
    }

    .cuenta a{
       font-size: 2rem;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .fa-bars{
        color: rgb(250, 238, 215);
        font-size: 3.9rem;
    }

    .logo{
        position: absolute;
        top: -1.4rem;
        left: 12%;
        color: white;
        background: none;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        z-index: 4000;
        display: block;
    }

    .logo a{
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    /* Container1 /gato grande barra de busqueda */

    .container p{
        font-size: 3rem;
        right: 10%;
        top: 22%;
    }

    .barraBusqueda::placeholder{
        font-size: 2.1rem;
    }

    .container__gatoGrande{
        top: 55%;
        left: 37%;
    }

    .container__gatoGrande img{
        width: 75%;
    }

    .container__gato1{
        position: absolute;
        bottom: -18%;
        right:5%;
        z-index: 100;
    }
    .hueso{
        left: 6%;
        top: 2rem;
    }

    .hueso img{
        width: 67%;
    }


    .container2{
        display: none;
    }

    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.8rem 0;
    }
    .cartel-movil img{
        width: 42%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }

    .container2__cloud-movil{
        background-image: url("./src/img/cloud2.png");
        background-size: cover;
        position: absolute;
        top: -4rem;
        width: 100%;
        height: 20rem;
        left: 50%;
        transform: translate(-50%);
    }

    /* container 3 */

    .box__container3{
        width: 100vw;
        height: 100vh;
        gap: 5rem;
        font-size: 2rem;
        top: 10rem;
        filter: drop-shadow(-2px 2px 2px black);
        opacity: 0;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 70%;
        text-align: center;
        line-height: 2.9rem;
        margin-left: -10rem;
    }

    .container3__quienesSomos{
        position: relative;
        top: 10%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    .container3__queHacemos{
        position: relative;
        top: -2%;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    /* container 5 */
    .box__container4{
        position: relative;
        width: 100vw;
        height: 60vh;
    }

    .text__container4 a{
        font-size: 6.5rem;
      
    }

    
}


@media (max-width :868px){

    .navVar-desktop{
        display: none;
    }

    .navVar-movile{
        display: inline-block;
    }

    .nav__img{
        position: relative;
        width: 100%;
        text-align: center;
        filter: contrast(105%);
    }
    
    .nav__img img{
        width: 96%;
        height: 5.5rem;
    }


    /* Container1 /gato grande barra de busqueda */

    .container{
        height: 70vh;
    }

    .container p{
        font-size: 2.3rem;
        right: 10%;
        top: 22%;
    }

    .busq i{
        margin-right: -3rem;
    }

    .hueso{
        top: -1rem;
    }
  
    .barraBusqueda::placeholder{
        font-size: 1.8rem;
    }

    .container p {
        font-size: 2rem;
        right: 10%;
        top: 22%;
    }

    .containerBusqueda {
        width: 30rem;
    }
  
    .box__container3{
        font-size: 1.9rem;
        top: 5rem;
    }

    .container3__queHacemos{
        top: -4%;
    }

  
    .text__container4 a{
        font-size: 5.5rem;
    }

    .text__container4 a:hover{
        font-size: 6rem;
        filter: drop-shadow( 4px 4px 1px rgb(0, 0, 0));

    }
    .logo {
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-top: -.2rem;
    }

    .nav-toggle {
        top: -.3rem;
    }


    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.7rem 0;
    }
    .cartel-movil img{
        width: 55%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }
    
}


@media (max-width: 634px){

    .nav{
        height: 10rem;
    }
    .nav__logo{
        width: 50%;
    }

    /* Container1 /gato grande barra de busqueda */
 
    .container p{
        right: 4%;
        top: 22%;
    }

    .container{
        height: 70vh;
    }

    .containerBusqueda{
        right: 2%;
    }

    .containerBusqueda p{
        font-size: 1.9rem;
        top: 22%;
    }

    .barraBusqueda{
        right: 4rem;
        width: 23rem;
    }

    .barraBusqueda::placeholder{
        font-size: 2rem;
    }

    .hueso{
        top:-1rem;
        left: 1rem;
    }

    .container__gatoGrande{
        top: 55%;
        left: 30%;
    }

    .container__gatoGrande img{
        width: 75%;
    }

    .container__gato1{
        position: absolute;
        bottom: -18%;
        right:5%;
        z-index: 100;
    }


    .logo{
        position: absolute;
        top: -1.4rem;
        left: 12%;
        color: white;
        background: none;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        z-index: 4000;
        display: block;
    }

    .logo a{
        font-size: 1.6rem;
        letter-spacing: 1px;
    }
    
    /* container 3 */

    .box__container3{
        width: 100vw;
        height: 100vh;
        gap: 20rem;
        font-size: 1.8rem;
        top: 12rem;
        opacity: 0;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 70%;
        line-height: 2.9rem;
        margin-left: -10rem;
    }

    .container3__quienesSomos{
        top: 10%;
        left: 0%;
        gap: 3rem;
    }

    .container3__queHacemos{
        top: -10%;
    }

    /* container 5 */
    .box__container4{
        width: 100vw;
        height: 60vh;
    }

    .text__container4 a{
        font-size: 4rem;
    }

    .text__container4 a:hover{
        font-size: 4.5rem;
    }


    .imgTienda__container4 {
        height: 80vh;
    }

    .img__container4 {
        height: 70rem;
    }

    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.7rem 0;
    }
    .cartel-movil img{
        width: 70%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }

  
}


@media (max-width: 482px){

    .nav__img{
        width: 100%;
    }

    .nav__img img{
        width: 100%;
    }

    .logo{
        left: 3%;
    }

    .logo a{
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .container{
        height: 50vh;
    }

    .containerBusqueda p{
        margin-left: -4.5rem;
        font-size: 2rem;
    }

    .containerBusqueda{
        top: 10rem;
        right: 0;
        margin: 0;
        padding: 0;
        left: 58%;
        transform: translate(-50%);
    }
    .busq{
        margin-left: -5rem;
        width: 26rem;
    }

    .busq i{
        position: static;
        margin-right: -6rem;
    }

    .barraBusqueda{
        width: 100%;
        left: 50%;
        height: 1rem;
    }

    .barraBusqueda::placeholder{
        font-size: 1.6rem;
    }

    .container__gatoGrande{
        top: 87%;
        left: 49%;
    }

    .container__gatoGrande img{
        width: 100%;
    }

    .container__gato1 img{
        width: 60%;
        margin-left: 2rem;
    }

    .container__gato1{
        position: absolute;
        left: 10.5rem;
        right: 0;
        z-index: 100;
    }

    .hueso{
        left: 4%;
        top: -2rem;
    }

    .hueso img{
        width: 55%;
    }

  
    /* container 3 */

    .box__container3{
        gap: 23rem;
        font-size: 1.7rem;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 85%;
        margin-left: -11rem;
    }


    /* container 5 */
    .box__container4{
        width: 100vw;
        height: 60vh;
    }

    .text__container4 a{
        font-size: 3rem;
    }

    .text__container4 a:hover{
        font-size: 3.5rem;
    }


    .imgTienda__container4 {
        height: 70vh;
    }

    .img__container4 {
        height: 60rem;
    }    

    .container4__cloud {
        width: 103%;
        background-position: left;
        bottom: -10rem;
    }

    .container2__movil{
        height: 75vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 17rem;
        padding: 1.7rem 0;
    }
    .cartel-movil img{
        width: 80%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }


}


