*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main{
    overflow: hidden;
    scroll-behavior:smooth;
    background-color: #240a1a;
}

::-webkit-scrollbar {
    width: 20px;
    border: 3px solid rgba(0, 0, 0, 0.479);
    height: 20px;
    background-image: url(./src/img/pantallaNavMovil.png);
    background-position: top;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background:rgb(250, 238, 215);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(250, 238, 215);
}
::-webkit-scrollbar-thumb:active {
    background: #fcfcfc;
}
::-webkit-scrollbar-track {
    border: 0px none #ffffff;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}



.ball{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    background-color: #ffffff ;
    margin: 0 auto;
    opacity:0;
}


/* preload */

/* configuracion preload */
.preload{
    width: 100vw;
    height: 100vh;
    background-image: url("./src/img/clouds.png");
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0rem;
    left: 0px;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* clase que crea js para que se cierra */

.cerrar{
    opacity: 0;
    transition: all 0.5s;
}


.preload__img {
    animation: lds-dual-ring 1.2s linear infinite;
    margin-top: 2rem;
}

.preload__img img{
    width:105%;
    height: 60%;
    filter: drop-shadow(1.1px 0.1px 0.1px #000000);
}

@keyframes lds-dual-ring {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* ------------------- */


.nav{
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
}

.nav__img{
    position: relative;
    width: 100%;
    text-align: center;
    filter: contrast(105%);
}

.navVar-movile{
    display: none;
}

.nav__img img{
    width: 85%;
    height: 7.7rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 1px black);
    color:rgb(250, 238, 215);

} 

.nav-menu {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    list-style: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: .4rem;
}

.nav-menu-link {
    padding: 0px 12px;
    border-radius: 3px;
}

.nav-menu-link_active {
    border-radius: 9%;
    transition: 0.5s;
}

.logo{
    position: absolute;
    top: 0rem;
    left: 12%;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    z-index: 4000;
    display: none;
}

  /* TOGGLE */
.nav-toggle {
    position: absolute;
    top: 0rem;
    right: 12%;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    z-index: 4000;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 4.5rem;
    text-transform: uppercase;
    width: max-content;
}

.cuenta{
    border: 2px solid rgb(250, 238, 215);
    border-radius: 15%;
    margin-left: 2rem;
}

.nav-menu-link_active:hover{
    transition: all 0.2s ease-in-out;
}

.nav li a:hover{
    filter: drop-shadow(1px 1px 5px rgb(102, 102, 102));
    transition: all 0.2s ease-in-out;
}


span{
    font-size: 1.6rem;
    color: #ad5cff;
    font-weight: 800;
}

.cuenta:hover{
    filter: drop-shadow(1px 1px 1px rgb(102, 102, 102));
    transition:all 0.5s ease-in-out;
}

.nav-menu-link i{
    font-size: 2.5rem;
    position: absolute;
    top: 3.8rem;
}

/* TITLE  */
.container{
    background-color: white;
}

.container1{
    position: relative;
    width: 100vw;
    height: 95vh;
    background-image: url("./src/img/cloud.png");
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__gatoGrande{
    position:relative;
    width: 35%;
    z-index: 1000;
    left:11%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.container__gatoGrande img{
    width: 100%;
    filter: drop-shadow(-5px 15px 10px rgba(0, 0, 0, 0.534));
    object-fit: c;
}



.container__title {
    position: relative;
    top: -8rem;
}

.container__title2 {
    position:absolute;
    top: 43rem;
    left:67%;
    transform: translate(-50%, -50%);    
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}


.shadows0__container1 span{
    position: relative;
    text-transform: uppercase;
    text-shadow: -1px 2px 15px #9c9c9c;
    color: rgb(255, 255, 255);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 7rem;
    transition: all 0.25s ease-out;
    filter: drop-shadow(-3px 3px 1px rgba(0, 0, 0, 0.527));
}


.shadows1__container1 span{
    position: relative;
    text-transform: uppercase;
    text-shadow: -1px 2px 15px #9c9c9c;
    color: rgb(255, 255, 255);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 1.8rem;
    transition: all 0.25s ease-out;
    filter: drop-shadow(-3px 3px 1px rgba(0, 0, 0, 0.349));

}

.space {
    padding: 0 .7rem;
}

.container1__img{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36rem;
    opacity: 0.04;
}

.hueso{
    position: absolute;
    top: 0rem;
    z-index: 9000;
    left: 6.5%;
    margin-top: -1%;
    animation: anima1 2s linear infinite;
    filter: drop-shadow(5px 10px 3px #464646cc);

}

.hueso img{
    width: 85%;
}



@keyframes anima1 {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-3deg);
    }

    40%{
        transform: rotate(-6deg);
    }

    70%{
        transform: rotate(-3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}



/* Container2 */


.container2__movil{
    display: none;
}

.container2{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    filter:contrast(105%);
}

.container2::before{
    position: absolute;
    content: " ";
    width: 100%;
    
}

.container2__img{
    width: 100vw;
    height: 100vh;
}

.cartel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10rem;
}
.container2__sol{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
}
.container2__sol img{
    width: 220px;
    height: 220px;
    mix-blend-mode:overlay;
} 

/* Cartel 1 - perro */

.container2-cartel1{
    position: absolute;
    bottom: 24%;
    right: 20%;
    filter:drop-shadow(10px 10px 8px #240a1afa);

}

.container2-cartel1 img{
    width: 24rem;
    height: 34rem;
}
.container2-cartel1 img:hover{
    filter:drop-shadow(10px -15px 18px white) !important;
    transition: all .3s ease-in-out;
}
/* Cartel 2 - cuchas */

.container2-cartel2{
    position: absolute;
    filter:drop-shadow(10px 10px 8px #240a1afa);
    bottom: 54%;
    left: 3%;
}

.container2-cartel2 img{
    width: 15rem;
    height: 6.5rem;
}
.container2-cartel2 img:hover{
    filter:drop-shadow(4px -4px 10px white)!important;
    transition: all .3s ease-in-out;
}

/* Cartel 3 - Gatos */

.container2-cartel3{
    position: absolute;
    bottom: 37%;
    filter:drop-shadow(10px 10px 8px #240a1afa);
    left: 33%;
}

.container2-cartel3 img{
    width: 22rem;
    height: 32rem;
}
.container2-cartel3 img:hover{
    filter:drop-shadow(-10px 10px 15px white)!important;
    transition: all .3s ease-in-out;
} 
/* Cartel 4 - accesorios */

.container2-cartel4{
    position: absolute;
    bottom: 67%;
    left: 42.3%;
    filter:drop-shadow(10px 10px 8px #240a1afa);
}

.container2-cartel4 img{
    width: 14rem;
    height: 14rem;
}
.container2-cartel4 img:hover{
    filter:drop-shadow(2px 5px 10px white)!important;
    transition: all .3s ease-in-out;
}

/* Cartel 5 - alimentos */


.container2-cartel5{
    position: absolute;
    bottom: 64%;
    left: 15%;
    filter:drop-shadow(10px 10px 8px #240a1afa);
}

.container2-cartel5 img{
    width: 14rem;
    height: 14rem;
}
.container2-cartel5 img:hover{
    filter:drop-shadow(2px 5px 10px white)!important;
    transition: all .3s ease-in-out;
}

/* Cartel 6 - Juguetes */

.container2-cartel6{
    position: absolute;
    bottom: 47%;
    left: 3%;
    filter:drop-shadow(10px 10px 8px #240a1afa);
}

.container2-cartel6 img{
    width: 14.5rem;
    height: 6rem;
}
.container2-cartel6 img:hover{
    filter:drop-shadow(4px -4px 10px white)!important;
    transition: all .3s ease-in-out;
}

.container2__cloud{
    background-image: url("./src/img/cloud2.png");
    background-size: contain;
    position: absolute;
    top: -10rem;
    width: 100%;
    height: 30rem;
    left: 50%;
    transform: translate(-50%);
}


.cartel{
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
}

  
@keyframes slidein {
    0% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.678));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.678));
    }
  
    60% {
        filter: none;
    }
    80% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.678));
    }
  
    100% {
        filter: none;
    }
}

.cartel-movil{
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.685));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.747));
    }
  
    60% {
        filter: none;
    }
    80% {
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.767));
    }
  
    100% {
        filter: none;
    }
  }


.container__space{
    width: 100vw;
    height: 15vh;
    background-color: #240a1a;
}

/* Container3 */
.container3{
    background-image: url(./src/img/mader2.jpg);
    background-position: top;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.box__container3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    font-size: 2.5rem;
    color: wheat;
    position: absolute;
    top: 3rem;
    filter: drop-shadow(-2px 2px 2px black);
    opacity: 0;
}

.container3__quienesSomos,.container3__queHacemos{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2.9rem;
}

.container3__quienesSomos{
    position: absolute;
    top: 20%;
    left: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.container3__queHacemos{
    position: absolute;
    top: 58%;
    right:  24%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



/* container4 */

.container4{
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url("./src/img/fondoTiendaHome.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    filter:contrast(105%);

}

.box__container4-img-marco{
    position: absolute;
    width: 100%;
    height: 90vh;
    filter:contrast(108%);
    top: 0;
}
/* ------------ */

.box__container4-img-marco img{
    width: 100%;
    height: 100%;

}

.text__container4 a{
    position: absolute;
    font-size: 7rem;
    z-index: 2000;
    top: 50%;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(255, 251, 240);
    filter: drop-shadow(3px 4px 1.8px rgb(0, 0, 0));
}

.text__container4 a:hover{
    font-size: 7.2rem;
    filter: drop-shadow(1px 1px 10px rgb(110, 77, 133));
    transition: all .6s ease-in-out;
}



/* container 5 */

    /* fondo */
.container5{  
    background: white;
    width: 100vw;
    height: 80vh;
    position: relative;
    background-image: url(./src/img/cloud.png);
    background-size: contain;
    background-attachment: fixed;
    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

    /*nuvo marco  */
.box__container5{
    position: absolute;
    background-image: url(./src/img/cloud.png);
    background-size: cover;
    top: -25rem;
    width: 105%;
    height: 30rem;
    z-index: 8000;
    left: -5rem;
}


.container5__title1 {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);    
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}

.shadows2 span{
    position: relative;
    text-transform: uppercase;
    text-shadow: -1px 2px 15px #9c9c9c;
    color: rgb(255, 255, 255);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 8rem;
    transition: all 0.25s ease-out;
    filter: drop-shadow(-3px 3px 1px rgb(56, 56, 56));
}


.container5__title2 {
    position:absolute;
    top: 60%;
    left:49%;
    transform: translate(-50%, -50%);    
    padding: 0 2rem;
    width: 80%;
    text-align: center;
}

.shadows3 span{
    position: relative;
    text-transform: uppercase;
    text-shadow: -1px 2px 15px #9c9c9c;
    color: rgb(255, 255, 255);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 2rem;
    transition: all 0.25s ease-out;
    filter: drop-shadow(-2px 2px 1px rgba(10, 10, 10, 0.89));
}

.space2 {
    padding: 0 .7rem;
}

.container5__img{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 36rem;
    opacity: 0.04;
}



@media screen and (min-width: 1401px) and (max-width: 1700px){

      /* container 1 */

    .container1{
        position: relative;
        width: 100vw;
        height: 98vh;
        flex-direction: row;
    }

    .container__gatoGrande{
        position:absolute;
        width: 44%;
        bottom: 4%;
        z-index: 1000;
        left:25%;
        transform:translate(-50%, -50%);
    }

    .container__gatoGrande img{
        width: 90%;
        margin-left: 0rem;
    }

    .container__title {
        position: relative;
        top: -8rem;
        left: 18%;
    }
    
    .container__title2 {
        top: 41rem;
        left:67%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 8rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: 2rem;
    
    }
    
    .space {
        padding: 0 .7rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 36rem;
        opacity: 0.04;
    }
    /* container2 */
    .container2__sol{
        position: absolute;
        top: 40%;
        left: 62%;
        transform: translate(-50%,-50%);
    }
    .container2__sol img{
        width: 200px;
        height: 200px;
        mix-blend-mode:overlay;
    } 

 /* Cartel 1 - perro */

    .container2-cartel1{
        position: absolute;
        bottom: 24%;
        right: 20%;

    }

    .container2-cartel1 img{
        width: 20rem;
        height: 28rem;
    }
 
    /* Cartel 2 - cuchas */

    .container2-cartel2{
        position: absolute;
        bottom: 54%;
        left: 3%;
    }

    .container2-cartel2 img{
        width: 14rem;
        height: 5rem;
    }
  

    /* Cartel 3 - Gatos */

    .container2-cartel3{
        position: absolute;
        bottom: 37%;
        left: 33%;
    }

    .container2-cartel3 img{
        width: 19rem;
        height: 28rem;
    }
    
    /* Cartel 4 - accesorios */

    .container2-cartel4{
        position: absolute;
        bottom: 67%;
        left: 42.3%;
    }

    .container2-cartel4 img{
        width: 12rem;
        height: 12rem;
    }
  

    /* Cartel 5 - alimentos */


    .container2-cartel5{
        position: absolute;
        bottom: 64%;
        left: 15%;
    }

    .container2-cartel5 img{
        width: 12rem;
        height: 13rem;
    }
  

    /* Cartel 6 - Juguetes */

    .container2-cartel6{
        position: absolute;
        bottom: 47%;
        left: 3%;
    }

    .container2-cartel6 img{
        width: 13rem;
        height: 4.7rem;
    }
 

    .container__space{
        width: 100vw;
        height: 15vh;
    }



    /* Container3 */
    .container3{
        background-size: cover;
        height: 110vh;
        width: 100vw;
    }

    .box__container3{
        width: 100vw;
        height: 100vh;
        font-size: 2.2rem;
    }

}


@media (max-width :1400px){

    .nav-link {
        font-size: 1.3rem;
    } 


    .nav__logo img{
        width: 70%;
        margin-left: 2rem;
    }

    
    .hueso{
        left: 5%;
        top: -3rem;
    }

    .hueso img{
        width: 75%;
    }
    
    /* container 1 */
    .container1{
        height: 95vh;
        flex-direction: row;
    }
    
    .container__gatoGrande{
        position:relative;
        width: 40%;
        z-index: 1000;
        left:15%;
        top: 55%;
        transform:translate(-50%, -50%);
    }
    
    .container__gatoGrande img{
        width: 100%;
    }
    
    .container__title {
        position: relative;
        top: -8rem;
        left: 0%;
    }
    
    .container__title2 {
        top:10rem;
        left:49.5%;
        padding: 0 2rem;
        width: 100%;
    }

    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 6rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: 1.5rem;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.479));
        
    }
    
    .space {
        padding: 0 .7rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 36rem;
        opacity: 0.04;
    }

    /* container2 */
    .container2__cloud {
        background-size: cover;
    }

    .container2__sol{
        position: absolute;
        top: 42%;
        left: 62%;
        transform: translate(-50%,-50%);
    }
    .container2__sol img{
        width: 150px;
        height: 150px;
        mix-blend-mode:overlay;
    } 

    /* Cartel 1 - perro */

    .container2-cartel1{
        position: absolute;
        bottom: 24%;
        right: 20%;
    }

    .container2-cartel1 img{
        width: 17rem;
        height: 25rem;
    }

    /* Cartel 2 - cuchas */

    .container2-cartel2{
        position: absolute;
        bottom: 54%;
        left: 3.5%;
    }

    .container2-cartel2 img{
        width: 12rem;
        height: 5rem;
    }


    /* Cartel 3 - Gatos */

    .container2-cartel3{
        position: absolute;
        bottom: 37%;
        left: 33%;
    }

    .container2-cartel3 img{
        width: 15.5rem;
        height: 24rem;
    }

    /* Cartel 4 - accesorios */

    .container2-cartel4{
        position: absolute;
        bottom: 67%;
        left: 42.3%;
    }

    .container2-cartel4 img{
        width: 10rem;
        height: 10rem;
    }


    /* Cartel 5 - alimentos */


    .container2-cartel5{
        position: absolute;
        bottom: 64%;
        left: 15%;
    }

    .container2-cartel5 img{
        width: 10rem;
        height: 11rem;
    }

    /* Cartel 6 - Juguetes */

    .container2-cartel6{
        position: absolute;
        bottom: 47%;
        left: 3.5%;
    }

    .container2-cartel6 img{
        width: 12rem;
        height: 4.4rem;
    }


    .container__space{
        width: 100vw;
        height: 15vh;
    }

    /* Container3 */
    .container3{
        background-size: cover;
        height: 110vh;
        width: 100vw;
    }

    .box__container3{
        width: 100vw;
        height: 100vh;
        font-size: 2.2rem;
    }
    
    .container3__quienesSomos,.container3__queHacemos{
        width: 40%;
    }

    
    .container3__quienesSomos{
        position: absolute;
        top: 21%;
        left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        text-align:center;
    }

    .container3__queHacemos{
        position: absolute;
        top: 55%;
        right:  15%;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align:center;
        gap: 3rem;
    }

    /* container4 */

    .text__container4 a{
        width: 80%;
        text-align: center;
    }
    .box__container4-img-marco{
        width: 100%;
        height: 80vh;
    }

    /* container 5 */
      
    .container5__title2 {
        top: 64%;
    }
    
}


@media (max-width: 1082px){

    .nav__img img {
        width: 85%;
        height: 7rem;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-image: url(./src/img/mader.png);
        background-size: cover;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 20px 0;
        height: 100vh;
        left: 100%;
        overflow-y: auto;
        padding-top: 0rem;
        transition: left 0.3s;
        filter:contrast(105%);
    }
    
    .nav-menu_visible {
        left: 0%;
    }

    .nav-menu-item {
        line-height: 80px;    
        
    }
    .nav-menu-item a{
        font-size: 2.1rem;
    }

    .cuenta{
        margin-top: 2rem;
        line-height: 60px;
        background-color: #ff260017;
        border-color: #ffffff6b;
    }

    .cuenta a{
       font-size: 2rem;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .fa-bars{
        color: rgb(250, 238, 215);
        font-size: 3.9rem;
    }

    .logo{
        position: absolute;
        top: -1.4rem;
        left: 12%;
        color: white;
        background: none;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        z-index: 4000;
        display: block;
    }

    .logo a{
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    /* container 1 */
    .container1{
        height: 92vh;
        flex-direction: column-reverse;
    }
    
    .container__gatoGrande{
        position:relative;
        width: 47%;
        z-index: 1000;
        left:23%;
        top: 45%;
        transform:translate(-50%, -50%);
    }
    
    .container__gatoGrande img{
        width: 100%;
    }

    .container__title {
        top: 2rem;
        left: 0%;
    }
    
    .container__title2 {
        position: relative;
        top: 14rem;
        left:50%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 6rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: 1.5rem;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.479));
        
    }
    
    .space {
        padding: 0 .7rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 30rem;
        opacity: 0.04;
    }


    .hueso{
        left: 6%;
        top: 2rem;
    }

    .hueso img{
        width: 67%;
    }



    /* container 2 */


    .container2{
        display: none;
    }

    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.8rem 0;
    }
    .cartel-movil img{
        width: 42%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }

    .container2__cloud-movil{
        background-image: url("./src/img/cloud2.png");
        background-size: cover;
        position: absolute;
        top: -4.5rem;
        width: 105%;
        height: 21rem;
        left: 50%;
        transform: translate(-50%);
    }

    /* container 3 */

    .box__container3{
        width: 100vw;
        height: 100vh;
        gap: 5rem;
        font-size: 2rem;
        top: 10rem;
        filter: drop-shadow(-2px 2px 2px black);
        opacity: 0;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 70%;
        text-align: center;
        line-height: 2.9rem;
        margin-left: -10rem;
    }

    .container3__quienesSomos{
        position: relative;
        top: 10%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    .container3__queHacemos{
        position: relative;
        top: -2%;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }


        /* container4 */

    /* ------Heith x heith ------ */
    .container4{
        width: 100vw;
        height: 77vh;
        position: relative;
    }

    .box__container4-img-marco{
        width: 100%;
        height: 77vh;
        top: 0;
    }
    /* ------------ */
 

    .box__container4-img-marco img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text__container4 a{
        font-size: 6rem;
    }


    /* container 5 */

        /* fondo */
    .container5{  
        width: 100%;
        height: 50vh;
        background-size: contain;
    }

        /*nube marco  */
    .box__container5{
        top: -22rem;
        width: 105%;
        height: 35rem;
        z-index: 8000;
        left: -5rem;
    }

    .container5__img{
        top: 54%;
        left:50%;
        width: 30rem;
        opacity: 0.06;
    }
    
    
}


@media (max-width :868px){

    .navVar-desktop{
        display: none;
    }

    .navVar-movile{
        display: inline-block;
    
    }

    .nav__img{
        position: relative;
        width: 100%;
        text-align: center;
        filter: contrast(105%);
    }
    
    .nav__img img{
        width: 96%;
        height: 5.5rem;

    }

    /* container 1 */
    .logo {
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-top: -.2rem;
        
    }

    .nav-toggle {
        top: -.3rem;
    }

    .container1{
        height: 90vh;
        flex-direction: column-reverse;
    }
    
    .container__gatoGrande{
        position:relative;
        width: 55%;
        z-index: 1000;
        left:26%;
        top: 46%;
        transform:translate(-50%, -50%);
    }
    
    .container__gatoGrande img{
        width: 100%;
    }

    .container__title {
        position: relative;
        top: 2rem;
        left: 0%;
    }
    
    .container__title2 {
        top: 13.5rem;
        left:49%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 6rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: 1.2rem;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.63));
        
    }
    
    .space {
        padding: 0 .7rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 25rem;
        opacity: 0.04;
    }

    .busq i{
        margin-right: -3rem;
    }

    .hueso{
        top: -1rem;
    }
  
    /* container 3 */
  
    .box__container3{
        font-size: 1.9rem;
        top: 5rem;
    }

    .container3__queHacemos{
        top: -4%;
    }



    /* container 2 */
    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.7rem 0;
    }
    .cartel-movil img{
        width: 55%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }
    

           /* container4 */

    /* ------Heith x heith ------ */
    .container4{
        width: 100vw;
        height: 85vh;
        position: relative;
    }

    .box__container4-img-marco{
        width: 100%;
        height: 85vh;
        top: 0;
    }
    /* ------------ */


    .box__container4-img-marco img{
        width: 100%;
        height: 100%;
    }

    .text__container4 a{
        font-size: 4.5rem;
    }

    .text__container4 a {
        width: 90%;
    }

    /* container 5 */

        /* fondo */
    .container5{  
        width: 100%;
        height: 50vh;
        background-size: cover;
    }

        /*nube marco  */
    .box__container5{
        top: -21rem;
        width: 105%;
        height: 35rem;
        z-index: 8000;
        left: -3rem;
    }

    .container5__title1 {
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);    
        width: 100%;
    }
    
    .shadows2 span{
        font-size: 6rem;
    }
    
    
    .container5__title2 {
        top: 53%;
        left:49%;
        transform: translate(-50%, -50%);    
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows3 span{
        font-size: 1.6rem;
    }
    
    .space2 {
        padding: 0 .7rem;
    }

    
    .container5__img{
        top: 50%;
        left:50%;
        width: 25rem;
        opacity: 0.06;
    }
    

}


@media (max-width: 634px){

    .nav{
        height: 10rem;
    }
    .nav__logo{
        width: 50%;
    }

    /* container 1 */
    .container1{
        height: 85vh;
        flex-direction: column-reverse;
    }
    
    .container__gatoGrande{
        position:relative;
        width: 73%;
        z-index: 1000;
        left:35%;
        top: 43%;
        transform:translate(-50%, -50%);
    }
    
    .container__gatoGrande img{
        width: 100%;
    }

    .container__title {
        position: relative;
        top: 2rem;
        left: 0%;
    }
    
    .container__title2 {
        top: 11rem;
        left:49%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 4rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: 1.1rem;
        filter: drop-shadow(-2px 1px 1px rgba(0, 0, 0, 0.753));
        
    }
    
    .space {
        padding: 0 .4rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 25rem;
        opacity: 0.04;
    }
    .hueso{
        top:-1rem;
        left: 1rem;
    }

    .logo{
        position: absolute;
        top: -1.4rem;
        left: 12%;
        color: white;
        background: none;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        z-index: 4000;
        display: block;
    }

    .logo a{
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    /* container 2 */

    .container2__movil{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        position: relative;
    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 20rem;
        padding: 1.7rem 0;
    }
    .cartel-movil img{
        width: 70%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }
    
    /* container 3 */

    .box__container3{
        width: 100vw;
        height: 100vh;
        gap: 20rem;
        font-size: 1.8rem;
        top: 12rem;
        opacity: 0;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 70%;
        line-height: 2.9rem;
        margin-left: -10rem;
    }

    .container3__quienesSomos{
        top: 10%;
        left: 0%;
        gap: 3rem;
    }

    .container3__queHacemos{
        top: -10%;
    }

 
        /* container4 */

    /* ------Heith x heith ------ */
    .container4{
        width: 100vw;
        height: 80vh;
        position: relative;
    }

    .box__container4-img-marco{
        width: 100%;
        height: 80vh;
        top: 0;
    }
    /* ------------ */
    
  

    .box__container4-img-marco img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text__container4 a{
        font-size: 4rem;
    }

    .text__container4 a {
        width: 100%;
    }

    .text__container4 a:hover {
        font-size: 4.5rem;
    }

    /* container 5 */

        /* fondo */
    .container5{  
        width: 100%;
        height: 50vh;
        background-size: cover;
    }

        /*nube marco  */
    .box__container5{
        top: -21rem;
        width: 108%;
        height: 35rem;
        z-index: 8000;
        left: -3rem;
    }
    .container5__title1 {
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);    
        width: 100%;
    }
    
    .shadows2 span{
        font-size: 4rem;
    }
    
    
    .container5__title2 {
        top: 53%;
        left:49%;
        transform: translate(-50%, -50%);    
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows3 span{
        font-size: 1.2rem;
    }
    
    .space2 {
        padding: 0 .7rem;
    }

  
}


@media (max-width: 482px){

    .nav__img{
        width: 100%;
    }

    .nav__img img{
        width: 100%;
    }

    .logo{
        left: 3%;
    }

    .logo a{
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    /* container 1 */
    .container1{
        height: 75vh;
        width: 100%;
        flex-direction: column-reverse;
        background-size: contain;
        background-attachment: fixed;
    }

    .container__gatoGrande{
        position:relative;
        width: 85%;
        z-index: 1000;
        left:40%;
        top: 50%;
        transform:translate(-50%, -50%);
    }

    .container__gatoGrande img{
        width: 100%;
    }

    .container__title {
        position: relative;
        top: 6rem;
        left: 0%;
    }
    
    .container__title2 {
        top: 14rem;
        left:49%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 3.7rem;
    }
    
    
    .shadows1__container1 span{
        letter-spacing: -0.05em;
        font-size: .9rem;
        filter: drop-shadow(-2px 1px 1px rgba(0, 0, 0, 0.753));
        
    }
    
    .space {
        padding: 0 .4rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 22rem;
        opacity: 0.04;
    }

    .hueso{
        left: 4%;
        top: -2rem;
    }

    .hueso img{
        width: 55%;
    }
  
    /* container 3 */

    .box__container3{
        gap: 23rem;
        font-size: 1.7rem;
    }

    .container3__quienesSomos,.container3__queHacemos{
        width: 85%;
        margin-left: -11rem;
    }


    /* container 2 */
    .container2__movil{
        height: 85vh;
        width: 100vw;
        display: inline-block;
        position: relative;

    }

    .cartel-movil{
        width: 100%;
        text-align: center;
        position: relative;
        top: 17rem;
        padding: 1.7rem 0;

    }
    .cartel-movil img{
        width: 80%;
        filter: drop-shadow(1px 1px 10px rgba(146, 84, 2, 0.795));
    }

          /* container4 */

    /* ------height x height ------ */
    .container4{
        width: 100vw;
        height: 75vh;
        background-image: url("./src/img/fondoTiendaHome.png");
        background-size: cover;
    }

    .box__container4-img-marco{
        width: 100%;
        height: 75vh;
        top: 0;

    }
    /* ------------ */
  

    .box__container4-img-marco img{
        width: 100%;
        height: 100%;
    }

    .text__container4 a{
        font-size: 3.3rem;
        width: 100%;
    }

    .text__container4 a:hover {
        font-size: 3.5rem;
    }

    
    /* container 5 */

        /* fondo */
    .container5{  
        width: 100%;
        height: 40vh;
        background-size: cover;
    }

        /*nube marco  */
    .box__container5{
        top: -21rem;
        width: 108%;
        height: 35rem;
        z-index: 8000;
        left: -3rem;
    }
 
    .container5__title1 {
        top: 54%;
        left:50%;
        transform: translate(-50%, -50%);    
        width: 100%;
        filter: drop-shadow(1px 1px 1px rgba(58, 58, 58, 0.404));

    }

    .container5__title2 {
        top: 66%;
        left:49%;
        transform: translate(-50%, -50%);    
        padding: 0 2rem;
        width: 100%;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.486));
    }
    
    .shadows3 span{
        font-size: .85rem;
    }
    
    .shadows2 span{
        font-size: 3.5rem;
    }
    
    
    .space2 {
        padding: 0 .5rem;
    }

    .container5__img{
        top: 58%;
        left:50%;
        width: 18rem;
        opacity: 0.06;
    }
    

}



@media (max-width: 387px){

  

    .container__gatoGrande{
        position:relative;
        width: 100%;
        z-index: 1000;
        left:48%;
        top: 40%;
        transform:translate(-50%, -50%);
    }

    .container__gatoGrande img{
        width: 100%;
    }

 
    .container__title {
        position: relative;
        top: 2rem;
        left: 0%;
    }
    
    .container__title2 {
        top: 11rem;
        left:49%;
        padding: 0 2rem;
        width: 100%;
    }
    
    .shadows0__container1 span{
        letter-spacing: -0.05em;
        font-size: 3rem;
    }
    
    
    .shadows1__container1 span{
        display: none;
        letter-spacing: -0.05em;
        font-size: .9rem;
        filter: drop-shadow(-2px 1px 1px rgba(0, 0, 0, 0.753));
        
    }
    
    .space {
        padding: 0 .4rem;
    }
    
    .container1__img{
        top: 50%;
        left:50%;
        width: 18rem;
        opacity: 0.04;
    }



    .box__container3{
        font-size: 1.5rem;
    }

        /* container4 */

    /* ------Heith x heith ------ */
    .container4{
        width: 100vw;
        height: 75vh;
        position: relative;
    }

    .box__container4-img-marco{
        width: 100%;
        height: 75vh;
        top: 0;
    }
    /* ------------ */
  

    .box__container4-img-marco img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text__container4 a{
        font-size:2.8rem;
    }

    .text__container4 a {
        width: 100%;
    }
    .text__container4 a:hover {
        font-size: 3rem;
    }


    /* container 5 */

        /* fondo */
    .container5{  
        width: 100%;
        height: 40vh;
        background-size: cover;
    }

        /*nube marco  */
    .box__container5{
        top: -21rem;
        width: 109%;
        height: 35rem;
        z-index: 8000;
        left: -3rem;
    }


    .container5__title1 {
        top: 65%;
        left:50%;
        transform: translate(-50%, -50%);    
        width: 100%;
        filter: drop-shadow(1px 1px 1px rgba(58, 58, 58, 0.404));
    }
    
    .shadows2 span{
        font-size: 2.5rem;
        
    }
    
    
    .container5__title2 {
        top: 39%;
        left:49%;
        transform: translate(-50%, -50%);    
        padding: 0 2rem;
        width: 100%;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.486));
    }
    
    .shadows3 span{
        display: none;

    }
    
    .space2 {
        padding: 0 .5rem;
    }

    .container5__img{
        top: 65%;
    }
    

}